{%extends 'base.html'%}

{%block body%}

<div class="d-flex justify-content-center d-flex flex-wrap">
{%for img in images%}

    <div class="card" style="width: 30rem; background-color: transparent;" >
        <div class="card-body">
        <a class="card-title" href="/posts/{{ img.user_id }}" style="text-decoration: none; color: cornsilk;" ><ul><h1> {{img.user.username}}</h1></ul></a>
        <img class="card-img-top" src="{{ img.image_path }}" alt="ig">
            <h3>Activity</h3>
            <div class="card-text">
            <li>{{img.activity.kind}}</li>
            <h3>Location</h3>  
            <li>{{img.location}}</li>
            </div>
        </div>
    </div>
    
    {%endfor%}
</div>
{%endblock%}